ClienteProyectoSWNet/Connected Services/ServicioProyectoUniversidadSW/ServicioUniversidadSWPort1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://model/" targetNamespace="http://model/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="listarProgramasResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="xsd:anyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="buscarMatricula">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listarMatriculasResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="xsd:anyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="anadirEstudiante">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:estudiante" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="buscarMatriculaResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:matricula" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getProgramas" />
  <xsd:complexType name="getProgramasResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:programaAcademico" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listarEstudiantes" />
  <xsd:complexType name="cargarDatosPrograma" />
  <xsd:complexType name="getEstudiantesResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:estudiante" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="programaAcademico">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="codigo" type="xsd:string" />
      <xsd:element name="duracionMeses" type="xsd:int" />
      <xsd:element minOccurs="0" name="modalidad" type="xsd:string" />
      <xsd:element minOccurs="0" name="nombre" type="xsd:string" />
      <xsd:element minOccurs="0" name="registroCalificado" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="eliminarPorNumeroMatricula">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="estudiante">
    <xsd:sequence>
      <xsd:element name="cedula" type="xsd:int" />
      <xsd:element name="celular" type="xsd:int" />
      <xsd:element minOccurs="0" name="codigo" type="xsd:string" />
      <xsd:element minOccurs="0" name="correo" type="xsd:string" />
      <xsd:element minOccurs="0" name="fechaNacimiento" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="genero" type="xsd:string" />
      <xsd:element minOccurs="0" name="nombre" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listarMatriculas" />
  <xsd:complexType name="listarEstudiantesResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="xsd:anyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listarProgramas" />
  <xsd:complexType name="eliminarPorCodigoEstudiante">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="buscarEstudiantePorCodigo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getMatriculasResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns0:matricula" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cargarDatosMatricula" />
  <xsd:complexType name="matricula">
    <xsd:sequence>
      <xsd:element name="cedulaEstudiante" type="xsd:int" />
      <xsd:element minOccurs="0" name="codigoEstudiante" type="xsd:string" />
      <xsd:element minOccurs="0" name="fechaMatricula" type="xsd:dateTime" />
      <xsd:element name="numCreditos" type="xsd:int" />
      <xsd:element name="numeroMatricula" type="xsd:int" />
      <xsd:element name="ppa" type="xsd:double" />
      <xsd:element minOccurs="0" name="programa" type="xsd:string" />
      <xsd:element name="valor" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="cargarDatosEstudiantes" />
  <xsd:complexType name="getEstudiantes" />
  <xsd:complexType name="buscarEstudiantePorCodigoResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:estudiante" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="anadirMatricula">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="ns0:matricula" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getMatriculas" />
  <xsd:complexType name="actualizarMatricula">
    <xsd:sequence>
      <xsd:element name="arg0" type="xsd:int" />
      <xsd:element name="arg1" type="xsd:int" />
      <xsd:element minOccurs="0" name="arg2" type="xsd:dateTime" />
      <xsd:element name="arg3" type="xsd:double" />
      <xsd:element name="arg4" type="xsd:double" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="actualizarEstudiantePorCodigo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="arg0" type="xsd:string" />
      <xsd:element name="arg1" type="xsd:int" />
      <xsd:element minOccurs="0" name="arg2" type="xsd:string" />
      <xsd:element minOccurs="0" name="arg3" type="xsd:string" />
      <xsd:element name="arg4" type="xsd:int" />
      <xsd:element minOccurs="0" name="arg5" type="xsd:dateTime" />
      <xsd:element minOccurs="0" name="arg6" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="listarProgramasResponse" type="ns0:listarProgramasResponse" />
  <xsd:element name="listarProgramas" type="ns0:listarProgramas" />
  <xsd:element name="buscarMatricula" type="ns0:buscarMatricula" />
  <xsd:element name="listarMatriculasResponse" type="ns0:listarMatriculasResponse" />
  <xsd:element name="anadirEstudiante" type="ns0:anadirEstudiante" />
  <xsd:element name="buscarMatriculaResponse" type="ns0:buscarMatriculaResponse" />
  <xsd:element name="eliminarPorCodigoEstudiante" type="ns0:eliminarPorCodigoEstudiante" />
  <xsd:element name="listarEstudiantes" type="ns0:listarEstudiantes" />
  <xsd:element name="getProgramasResponse" type="ns0:getProgramasResponse" />
  <xsd:element name="getProgramas" type="ns0:getProgramas" />
  <xsd:element name="buscarEstudiantePorCodigo" type="ns0:buscarEstudiantePorCodigo" />
  <xsd:element name="getMatriculasResponse" type="ns0:getMatriculasResponse" />
  <xsd:element name="getEstudiantesResponse" type="ns0:getEstudiantesResponse" />
  <xsd:element name="cargarDatosPrograma" type="ns0:cargarDatosPrograma" />
  <xsd:element name="cargarDatosMatricula" type="ns0:cargarDatosMatricula" />
  <xsd:element name="eliminarPorNumeroMatricula" type="ns0:eliminarPorNumeroMatricula" />
  <xsd:element name="cargarDatosEstudiantes" type="ns0:cargarDatosEstudiantes" />
  <xsd:element name="getEstudiantes" type="ns0:getEstudiantes" />
  <xsd:element name="buscarEstudiantePorCodigoResponse" type="ns0:buscarEstudiantePorCodigoResponse" />
  <xsd:element name="listarMatriculas" type="ns0:listarMatriculas" />
  <xsd:element name="anadirMatricula" type="ns0:anadirMatricula" />
  <xsd:element name="getMatriculas" type="ns0:getMatriculas" />
  <xsd:element name="listarEstudiantesResponse" type="ns0:listarEstudiantesResponse" />
  <xsd:element name="actualizarMatricula" type="ns0:actualizarMatricula" />
  <xsd:element name="actualizarEstudiantePorCodigo" type="ns0:actualizarEstudiantePorCodigo" />
</xsd:schema>